/*Desktop*/
@media (min-width: 900px) {
/*La izquierda "paisajes" aplica un efecto de rotación de 10 grados cuando se
coloca el puntero sobre ella, agrega color de sombra #82c3a6 y borde 2px.*/
.secundaria1{
  width: 50%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
.secundaria1 img {
  box-shadow: 2px 2px #82C3A6;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.secundaria1 img:hover {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
/*La derecha "retratos" aplica un efecto de traslación de 5px hacia arriba y
20px a la derecha cuando se coloca el puntero del ratón sobre ella agrega color
de sombra #82c3a6 y borde 2px*/
.secundaria2{
  width: 50%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
.secundaria2 img {
  box-shadow: 2px 2px #82C3A6;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.secundaria2 img:hover {
  margin-top: -5px;
  margin-right: -20px;
}
}
/*Móvil*/
@media (max-width: 900px) {
/*La izquierda "paisajes" aplica un efecto de rotación de 10 grados cuando se
coloca el puntero sobre ella, agrega color de sombra #82c3a6 y borde 2px.*/
.secundaria1{
  width: 100%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
.secundaria1 img {
  box-shadow: 2px 2px #82C3A6;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.secundaria1 img:hover {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
/*La derecha "retratos" aplica un efecto de traslación de 5px hacia arriba y
20px a la derecha cuando se coloca el puntero del ratón sobre ella agrega color
de sombra #82c3a6 y borde 2px*/
.secundaria2{
  width: 100%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
.secundaria2 img {
  box-shadow: 2px 2px #82C3A6;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.secundaria2 img:hover {
  margin-top: -5px;
  margin-right: -20px;
}
}
