body{
  font-family: 'Dancing Script';
  background-color: #02010A;
}
picture img{
  -webkit-filter: drop-shadow(2px 2px #02010A);
  filter: drop-shadow(2px 2px #02010A);
  margin: 5px;
}
#menu a{
  color: white;
}
/*Efectos de las imágenes*/
.imagen_blur{
  -webkit-filter:blur(10px);
  filter: blur(10px);
}
.imagen_gris{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.imagen_sepia{
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
}

/*Animaciones*/
/*Para ambas versiones el header debe tener una animación de slidein (debe venir
de abajo hacia arriba y rebotar) está animación debe hacerse variando el
margin-top de 150% a -5% y luego a 0%, en los momentos 0%, 60% y 100%
respectivamente. */
@-webkit-keyframes animacion_contenido{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
/*Móvil*/
@media (max-width: 900px) {
  #menu{
    text-align: center;
  }
  #titulo{
    font-size: 2em;
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
  }
  #contenido{
    margin: 2px;
    max-width: 100%;
    margin: 0 auto;
    animation: animacion_contenido 2s;
  }
  #cabecera{
    background-color: #5B7989;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 2px #02010A;
    border-radius: 10px 10px 0px 0px;
    height: 80px;
  }
  #pie{
    background-color: #C6D5C5;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    display: flex;
    flex-flow: column;
  }
  .seccion_pie{
    width: 100%;
  }
  #fondo_imagen_central{
    background-color: #82C3A6;
    text-align: center;
    width: 100%;
  }
  #fondo_imagen_secundaria{
    background-color: #D5C75F;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    text-align: center;
  }
  #galeria_2{
    background-color: #D5C75F;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
  }
  #galeria_1{
    background-color: #D5C75F;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
  }
}
/*Desktop*/
@media (min-width: 900px) {
  #menu{
    float: right;
    margin-right: 10px;
    height: 80px;
    font-size: 0.8em;
    position: relative;
    top: 20%;
  }
  #titulo{
    font-size: 1.6em;
    float: left;
    margin-left: 15px;
    height: 80px;
  }
  #contenido{
    margin: 2px;
    max-width: 900px;
    margin: 0 auto;
    animation: animacion_contenido 2s;
  }
  #cabecera{
    background-color: #5B7989;
    text-align: left;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px #02010A;
    border-radius: 10px 10px 0px 0px;
    height: 80px;
  }
  #pie{
    background-color: #C6D5C5;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    display: flex;
    flex-flow: row;
  }
  .seccion_pie{
    width: 25%;
  }
  #fondo_imagen_central{
    background-color: #82C3A6;
    text-align: center;
    width: 100%;
  }
  #fondo_imagen_secundaria{
    background-color: #D5C75F;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  #galeria_2{
    background-color: #D5C75F;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  #galeria_1{
    background-color: #D5C75F;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    text-align: center;
  }
}
